In [1]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd
import time

In [2]:
consumer_key = ""
consumer_secret =""
access_token = ""
access_token_secret = ""
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [ ]:
#count = 200

In [19]:
df_query_based_tweets = pd.DataFrame()
text_query = 'کووید۱۹'
    # Creation of query method using appropriate parameters
tweets = tweepy.Cursor(api.search, q=text_query,lang="fa", tweet_mode='extended' ).items()

    # Pulling information from tweets iterable object and adding relevant tweet information in our data frame
for tweet in tweets:
    df_query_based_tweets = df_query_based_tweets.append(
                          {'User ID': tweet._json['id'],
                           'Text': tweet.full_text,
                           'Followers Count': tweet.user._json['followers_count'],
                           'Friends Count': tweet.user._json['friends_count'],
                           'Statuses Count': tweet.user._json['statuses_count'],
                         }, ignore_index=True)

In [20]:
df_query_based_tweets.head()

,User ID,Text,Followers Count,Friends Count,Statuses Count
0,1.625846e+18,RT @aahonarmand: نتایج یک پژوهش تازه نشان داده...,2258.0,4632.0,27548.0
1,1.625806e+18,RT @aahonarmand: نتایج یک پژوهش تازه نشان داده...,63.0,153.0,10590.0
2,1.625805e+18,RT @aahonarmand: نتایج یک پژوهش تازه نشان داده...,562.0,1009.0,2457.0
3,1.625803e+18,نتایج یک پژوهش تازه نشان داده افرادی که به علت...,23589.0,169.0,1548.0
4,1.625528e+18,RT @montazeremahdi2: درباره استفاده‌های نظامی ...,2025.0,1906.0,2525.0

In [21]:
df2=df_query_based_tweets[~df_query_based_tweets.Text.str.startswith('RT')]

In [22]:
df2.head()

,User ID,Text,Followers Count,Friends Count,Statuses Count
3,1.625803e+18,نتایج یک پژوهش تازه نشان داده افرادی که به علت...,23589.0,169.0,1548.0
7,1.625014e+18,عضو کمیته علمی ستاد ملی مقابله با کرونا ضمن تش...,57291.0,5.0,30003.0
8,1.624794e+18,پروژه ی طاعون #کووید۱۹ یک جنگ بیولوژیک تمام عی...,442.0,2384.0,2666.0
10,1.624419e+18,ثبت روز بدون فوتی کرونا در کشور\nبر اساس اعلام...,373.0,0.0,56887.0
12,1.624227e+18,#IranVoice\n #ایران_آباد\n\n@ManotoNews . این...,807.0,1539.0,2029.0

In [23]:

df2.to_csv('fad.csv', index=False, header=True, encoding="utf-8-sig")

In [24]:
from google.colab import files
files.download('fad.csv')